div.gallery {
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   width: 180px;
   border-radius: 25px;
}

div.gallery hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

div.gallery div {
    color : gray solid;
    word-wrap: break-word;
}
