<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <style>
  
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
    </style>
  {% load static %}
  <div class="gallery">
    <a target="_blank" href="{% static "images/sample1.jpg" %}">
       
      <img src="{% static "images/sample1.jpg" %}" alt="Sample1" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{% static "images/sample2.jpg" %}">
      <img src="{% static "images/sample2.jpg" %}" alt="Sample2" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{% static "images/sample3.jpg" %}">
      <img src="{% static "images/sample3.jpg" %}"  alt="Sample3" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{% static "images/sample4.jpg" %}">
      <img src="{% static "images/sample4.jpg" %}" alt="Sample4" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

</body>
</html>
