{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link rel="stylesheet" href="{% static 'css/pageheader.css' %}">
{% endblock %}

{% block head %}
<h1>Favorite</h1>
{% endblock %}


{% block mainbody %}
{% for image in images %}
    <div>
          <div class="gallery">
            <a target="_blank" href="{{ image.document.url }}" >
                <img src="{{ image.document.url}}">
            </a>
            <div>{{image.description}}</div> 
            <div>{{image.uploaded_at}}</div>
            <form action="/modify/" method="POST">
              {% csrf_token %}
              <input type="submit" value="點我修改" name = "{{image.description}}"/>
            </form>
      </div>
  {% endfor %}
{% endblock %}
