{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link rel="stylesheet" href="{% static 'css/pageheader.css' %}">
{% endblock %}

{% block head %}
<h1>Upload Board</h1>
{% endblock %}


{% block mainbody %}

  <div>

  <form method="post" enctype="multipart/form-data">
  {% for image in images %}
    <div>
        <div class="gallery">
          <a target="_blank" >
              <img src="{{image.document.url}}">
          </a>
          <div>{{image.description}}</div> 
          <div>{{image.uploaded_at}}</div>
    </div>
    {% csrf_token %}
    {{ form.as_p}} 

    <button type="submit" name = "upload" value = "{{image.id}}">Upload</button>
  {% endfor %}
  </form>
  <p><a href="{% url 'home' %}">Return to home</a></p> 
</div>
{% endblock %}