{% extends 'base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block head %}
<h1>Upload Board</h1>
{% endblock %}

{% block mainbody %} 
<div class="row">
      <div>
        <form action="/" method="post" enctype="multipart/form-data">
            <h2>It cannot be uploaded now</h2>
            <input type="file" name="fileToUpload" id="fileToUpload" align="middle">
            <button type='submit' class="btn btn-success" name="submit">Upload</button>
        </form>
      </div>
</div>
{% endblock %}
