{% extends 'base.html' %}

{% block stylesheet %}
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block head %}
<h1>Upload Board</h1>
{% endblock %}


{% block mainbody %}
  <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Upload</button>
      </form>
      <p><a href="{% url 'home' %}">Return to home</a></p> 
  </div>
{% endblock %}